<h1>Goalumundo!!!</h1>

<form action="<%= goals_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="goal[user_id]" value="<%= current_user.id %>">

  <label for="goal_name">Name</label>
  <input type="text" name="goal[name]" value="<%= @goal.name %>" id="goal_name">

  <label for="goal_public">Public</label>
  <input type="checkbox" name="goal[public]" id="goal_public">

  <input type="submit" name="name" value="Create Goal">
</form>
